# SQL
![view](images/sql1.png)
![view](images/sql2.png)
![view](images/sql3.png)
![view](images/sql4.png)

# DDL COMMAND
![view](images/ddl1.png)
![view](images/ddl2.png)
![view](images/ddl3.png)

# SQL: ALTER command :-
 ### alter command is used for altering the table structure, such as,

    * to add a column to existing table
    * to rename any existing column
    * to change datatype of any column or to modify its size.
    * to drop a column from the table.
  
  
![view](images/dcl1.png)
![view](images/dcl2.png)
![view](images/dcl3.png)
![view](images/dcl4.png)

# SQL Truncate, Drop or Rename a Table:-
![view](images/truncate.png)
![view](images/drop.png)
![view](images/rename.png)