#  #Using GRANT and REVOKE

>  Data Control Language(DCL) is used to control privileges in Database. 
    * To perform any operation in the database, such as for creating tables, 
    * sequences or views, a user needs privileges. Privileges are of two types,

    * System: This includes permissions for creating session, table, etc
            * and all types of other system privileges.
    * Object: This includes permissions for any command or query to perform any operation on the database tables.
  ### In DCL we have two commands,

    * GRANT: Used to provide any user access privileges or other priviliges for the database.
    * REVOKE: Used to take back permissions from any user.

![VIEW](images/dcl5.png)

## # Grant all Permission to the user To Rvoke the table,drop the table and create the table with any Name.

![view](images/dcl6.png)

# SELECT SQL Query
    * We can retrieve complete table data, or partial by specifying conditions using the WHERE clause.
    
>   Syntax of SELECT query :-
    
    * To retrieve the some special column from the table :- 
        SELECT 
        column_name1, 
        column_name2, 
        column_name3, 
        ...
        column_nameN 
        FROM table_name;
        
     * Select all records from a table :-

         " SELECT * FROM student; "
       
      * Select a particular record based on a condition
            We can use the WHERE clause to set a condition,

          " SELECT * FROM student WHERE name = 'Abhi'; "
            
      *  Performing Simple Calculations using SELECT Query :-
      
         " SELECT eid, name, salary+3000  FROM employee; "

# SQL LIKE clause
  * LIKE clause is used in the condition in SQL query with the WHERE clause
  * LIKE clause compares data with an expression using wildcard operators 
  * to match pattern given in the condition.
  
### Wildcard operators
    > There are two wildcard operators that are used in LIKE clause.

        1) Percent sign %: represents zero, one or more than one character.
        2) Underscore sign _: represents only a single character.

    >  Using % only:-
     
     1) " SELECT * FROM Student WHERE s_name LIKE 'A%'; "
        * The above query will return all records where s_name starts with character 'A'.
        * bcz % represent that there may be any letter after the A.
        
     2)  " SELECT * FROM Student WHERE s_name LIKE '%x'; "
        * The above query will return all records from Student table where s_name contain 'x' as last character.
        
    >   Using _ and % :-
        
        "  SELECT * FROM Student WHERE s_name LIKE '_d%'; "
         * ' _ ' represent the there must be a one character and
         * '%' represent after d may be there zero or may be more number of charaters
         * so, this query select the value which contain second character as 'd'.

# SQL ORDER BY Clause :-
    * By default query select the data in Ascending order or we use 'ASC' for that
    * for descending order we use the 'DESC'

### Syntax of Order By

        " SELECT column-list|* FROM table-name ORDER BY ASC | DESC; "
        
        Example-
            * SELECT * FROM Emp ORDER BY salary;
                * The above query will return the resultant data in ascending order of the salary.
                
            * SELECT * FROM Emp ORDER BY salary DESC;
                * The above query will return the resultant data in descending order of the salary.

# SQL Group By Clause
    * Group by clause is used to group the results of a SELECT query based on one or more columns.
    * It is also used with SQL functions to group the result from one or more tables.

    * Syntax for using Group by in a statement.
    
        SELECT column_name, function(column_name)
        FROM table_name 
        WHERE condition 
        GROUP BY column_name
        
    * Group by give the result of unique data from the chooses column.
    * find name and age of employees grouped by their salaries or in other words,
    * we will be grouping employees based on their salaries, hence, as a result, 
    * we will get a data set, with unique salaries listed,
    * along side the first employee's name and age to have that salary. Hope you are getting the point here!

    > group by is used to group different row of data together based on any one column.

        * SQL query for the above requirement will be,

           " SELECT name, age FROM Emp GROUP BY salary "
           
         * Example of Group by in a Statement with WHERE clause :- 
           " SELECT name, salary 
             FROM Emp 
             WHERE age > 25
             GROUP BY salary  "

# SQL HAVING Clause

 
    * Having clause is used with SQL Queries to give more precise condition for a statement. 
    * It is used to mention condition in Group by based SQL queries, 
    * just like WHERE clause is used with SELECT query.

    >  Syntax for HAVING clause is,

        "    SELECT column_name, function(column_name)
            FROM table_name
            WHERE column_name condition
            GROUP BY column_name
            HAVING function(column_name) condition   "
            
            
     *  Example of SQL Statement using HAVING:-
        
![view](images/having.png)
![view](images/having2.png)

# DISTINCT keyword :-
  > Syntax for DISTINCT Keyword
      *  " SELECT DISTINCT column-name FROM table-name; " 
      *  ex-
      *    " SELECT DISTINCT salary FROM Emp; "

# SQL AND & OR operator
 >  AND operator
     * AND operator is used to set multiple conditions with 
     * the WHERE clause, alongside, SELECT, UPDATE or DELETE SQL queries.
     * ex- 
       *  SELECT * FROM Emp WHERE salary < 10000 AND age > 25
       *  SELECT * FROM Emp WHERE salary > 10000 OR age > 25